body {
  background-color: #f2f2f2;
  font-family: monospace;
}

/* -------- navigation -------- */
.nav {
  width: 100%;
  height: 60px;
  background-color: #2A2D34;
  text-align: center;
  color: #f2f2f2;
  position: fixed;
}

.title a {
  font-family: 'Cormorant Garamond', serif;
  color: #f2f2f2;
}

.title h2 {
  padding-top: 15px;
}

.title span {
  color: #2BDE73;
}

.fa-bars {
  font-size: 24px;
  padding-top: 20px;
  cursor: pointer;
  padding-left: 25px;
  color: #808080;
}

.bars {
  text-align: left;
}

.icons {
  text-align: right;
}

.icons i {
  padding: 10px;
  margin-top: 10px;
  color: #808080;
  padding-right: 25px;
}

.fa-search {
  border-left: solid 1px #d9d9d9;
  padding-left: 2px;
  font-size: 20px;
}

.nav-contents {
  display: none;
  background-color: #2A2D34;
  color: white;
  width: 15%;
  height: 1200px;
  position: fixed;
  padding-top: 10px;
  z-index: 5;
}

.nav-contents a,
.nav-contents li {
  color: white;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: 15px;

}

.nav-contents .adminNav {
  padding-top: 45px;
}

.sidebar-brand {
  margin-top: 10;
}

.close {
  padding-bottom: 20px;
  color: #fff;
  float: left;
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
}

.close:hover {
  color: black;
}

/* -------- nav contents ------ */
.nav-contents {
  display: none;
  color: #bfbfbf;
  width: 12%;
  height: 1200px;
  position: fixed;
  padding-top: 10px;
  z-index: 5;
}

.nav-contents a,
.nav-contents li {
  color: #bfbfbf;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: ;
  text-align: center;
}

.nav-contents .admin-nav {
  padding-top: 45px;
}

.sidebar-brand {
  margin-top: 20px;
}

.close {
  padding-bottom: 20px;
  color: #fff;
  float: left;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
}

/* ---------- project-tile ------- */
.content {
  padding-top: 100px;
  width: 90%;
  margin-left: 5%;
}

.tile-title {
  font-size: 18px;
  padding-bottom: 5px;
}

.project-tile img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border: 2px solid #cccccc;
  padding: 1px;
}

.funds {
  text-align: center;
  padding-top: 30px;
}

.heart:hover {
  cursor: pointer;
  color: #2BDE73;
}

/* ---------- project-view ------- */
.project-view img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  padding: 0 60px 0 60px;
}

.project-view .intro {
  position: relative;
  height: 600px;
}

.view-box {
  position: absolute;
  background-color: #fff;
  min-width: 35%;
  min-height: 200px;
  top: 440px;
  margin-left: 32.5%;
  text-align: center;
  opacity: 0.98;
}

.view-box .view-title {
  font-size: 20px;
  padding-top: 60px;
  margin-bottom: 0;
}

.view-box .view-subtitle {
  padding-top: 30px;
}

.project-view .details {
  margin-top: 100px;

}

.details h3 {
  font-family: monospace;
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 20px;
  position: ;
}

.view-funds {
  text-align: ;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  padding-left: 80px;
}

.view-funds p {
  padding-bottom: 15px;
  font-size: 16px;
}

/* -------- modal */
.modal {
  height: 300px;
  width: 50%;
  margin-left: 25%;
  overflow: hidden;
  overflow-y: scroll;
}

.modal li {
  padding: 5px;
}

.trash {
  color: #2BDE73;
}
